[package]
name = "git_switch"
version = "0.1.0"
edition = "2024"
authors = ["Ren Hoshizora <blackswordman@gmail.com>"]
description = "CLI tool to switch between multiple Git accounts"
license = "MIT"

[dependencies]
shellexpand = "3.1"
clap = { version = "4", features = ["derive"] }
dirs = "5.0.1"

[package.metadata.deb]
maintainer = "Ren Hoshizora <blackswordman@gmail.com>"
copyright = "2023, Ren Hoshizora <blackswordman@gmail.com>"
license-file = ["LICENSE", "3"]
extended-description = """
git-switch allows users to manage and switch between multiple Git accounts.
It handles SSH key management and Git configuration updates automatically.
"""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    [
        "target/release/git_switch",
        "usr/bin/git-switch",
        "755",
    ],
    [
        "README.md",
        "usr/share/doc/git-switch/README.md",
        "644",
    ],
]

[package.metadata.rpm]
package = "git-switch"
license = "MIT"
requires = ["git", "openssh"]

[package.metadata.rpm.files]
"target/release/git_switch" = { path = "/usr/bin/git-switch", mode = "755" }
"README.md" = { path = "/usr/share/doc/git-switch/README.md", mode = "644" }
